$selectBackground: #f8f8fa;
$selectColor: #ccc;
$selectShadow: #aab;
$selectLink: #aab;

.bev-select-items {
  z-index: 100;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute;
  text-align: left;
  list-style-type: none;
  font-size: 16px;
  top: -1.8em;
  background: $selectBackground;
  box-shadow: 0 2px 5px $selectShadow;
  display: none;
}

.bev-select {
  cursor: pointer;
  position: relative;
  .selected-display {
    margin-left: 0.5em;
    display: inline-block;
    position: relative;
    padding-bottom: 0.2em;
    border-bottom: 2px solid $selectLink;
  }
}

.select-prefix {
  display: inline-block;
  width: 2em;

  &.selected:before {
    margin-left: 0.75em;
    content: "\2713  ";
  }
}

.selectable button {
  text-align: left;
  display: block;
  width: 100%;
  padding: 0.65em;
  padding-left: 0;
  padding-right: 1.25em;
  font-size: 16px;
  border: 0;
  background: $selectBackground;
  cursor: pointer;
}
