$border: #eee;
$bodyBackground: #fff;
$controlBackground: #fff;
$selectedControlBackground: #f4f4f4;
$drinkBackground: #fff;
$drinkBioBackground: #fff;
$drinkBorder: #eee;
$ratingColor: #5a5;
$subtextColor: #888;
$linkColor: #558;
$selectBackground: #ffa;
$loadingColor: #ccc;
$pourColor: #933;
$abvColor: $pourColor;
$descriptionBackground: $drinkBackground;
$tabTextColor: #333;
$selectedTabTextColor: #000;

$borderColor: #f0f0f0;

@import 'select';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Sans-Serif';
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0.75em 0;
}

a {
  color: $linkColor;
  text-decoration: none;
}

.header {
  text-align: center;
  margin-bottom: 0.8em;
}

.drink {
  clear: both;
  background: $drinkBackground;
  font-size: 10px;
  padding: 0;
  min-height: 4.6em;
  border-bottom: 1px solid $borderColor;
}

.bio {
  padding: 5px 10px 0 10px;
  background: $drinkBioBackground;
  overflow: auto;
  height: 3em;
}

.name {
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
  float: left;
  margin-right: 0.5em;
}

.annotation {
  display: block;
  float: right;
}

.subtext {
  clear: both;
  float: left;
  color: $subtextColor;
}

.cell {
  float: left;
  margin-right: 0.5em;
}

.rating {
  color: $ratingColor;
  right: 2em;
  top: 1em;
}

.stat {
  color: $abvColor;
  right: 2em;
  bottom: 1em;
}

.description {
  clear: both;
  position: relative;
  color: $subtextColor;
  overflow: hidden;
  height: 42px;
  padding: 2px 10px;
  font-size: 7px;
  background: $descriptionBackground;
}

.description-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1),
                              rgba(255, 255, 255, 0));
}

.pour {
  color: $pourColor;
  font-size: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.menu-at {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 10px 3px 3px;
  background: rgba(255, 255, 255, 0.8);
}

.page-title {
  background: $selectBackground;
  padding: 5px 10px;
  margin-top: 0;
}

.source-select {
  border: 0;
  border-radius: 0;
  background: $selectBackground;
  font-size: 16px;
  font-weight: normal;
  white-space: normal;
  text-align: center;
  -webkit-appearance: none;
}

ul.controls {
  display: inline-block;
  background: $controlBackground;
  border-radius: 1em;
  border: 1px solid $border;
  overflow: hidden;

  li {
    display: inline-block;
    border-right: 1px solid $border;

    &.selected {
      background: $selectedControlBackground;
      a {
        color: $selectedTabTextColor;
        font-weight: bold;
      }
    }

    &.last {
      border-right: 0;
    }

    a {
      display: block;
      padding: 0.75em 1.25em;
      width: 5.5em;
      text-decoration: none;
      color: $tabTextColor;
    }
  }
}

.loading * {
  color: $loadingColor;
}
