h1.bev-select {{prefix}}
  div.selected-display {{itemText(model)}}

ul.bev-select-items
  li.selectable(ng-repeat="item in options")
    .select-prefix(ng-class="{selected: itemSelected(item)}")
    button(ng-bind="itemText(item)" ng-click="selectItem(item)")
