doctype html
html(ng-app="DrinkMenu")
  head
    meta(charset="UTF-8" )
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Beer!
    link(rel="stylesheet" type="text/css" href="app.css")
  body
    include partial/drinklist
    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-route/angular-route.min.js")
    script(src="app.js")