.drinklist(ng-controller="Drinks")
  section.header
    h1 {{source.name}} Beer List

    ul.controls
      li(ng-repeat="sorter in sorters"
         ng-class="{selected: sortSelected(sorter.key), last: $last}")
        a.sorter(ng-click="sort(sorter.key, sorter.reverse)" href="#")
          | {{sorter.title}}

  ul#drink-list
    li.drink(ng-repeat="drink in drinks | orderBy:ordering.key:ordering.reverse")
      a.name(href="{{drink.externalLink}}") {{drink.name}}
      .annotation.rating {{Drink.ratingDescription(drink) || ''}}
        
      .type {{drink.type || '&nbsp;'}}
      .annotation.stat {{Drink.abvDescription(drink) || ''}}
