.drinklist(ng-controller="DrinkController")
  section.header
    h1 {{source.name}} Beer List

    ul.controls
      li(ng-repeat="sorter in sorters"
         ng-class="{selected: sortSelected(sorter.id), last: $last}")
        a.sorter(href="#/{{sorter.id}}")
          | {{sorter.title}}

  ul#drink-list
    li.drink(ng-repeat="drink in drinks | orderBy:ordering.key:ordering.reverse")
      a.name(href="{{drink.externalLink}}") {{drink.name}}
      .annotation
        .stat {{Drink.abvDescription(drink) || ''}}
        
      .type {{drink.type || '&nbsp;'}}
      .annotation
        .rating {{Drink.ratingDescription(drink) || ''}}
