.drinklist(ng-controller="DrinkController")
  section.header
    bev-select(model="selectedSource" options="availableSources"
               display="name" onchange="changeSource()")

    ul.controls
      li(ng-repeat="sorter in sorters"
         ng-class="{selected: sortSelected(sorter.id), last: $last}")
        a.sorter(href="#/{{selectedSource.id}}:{{sorter.id}}")
          | {{sorter.title}}

  ul#drink-list(ng-class="{loading: loadingDrinks}")
    li.drink(ng-repeat="drink in drinks | orderBy:ordering.key:ordering.reverse")
      a.name(href="{{drink.externalLink}}") {{drink.name}}
      .pour.cell {{Drink.servingSize(drink)}}
      .annotation
        .stat {{Drink.abvDescription(drink) || ''}}
        
      .subtext
        .type.cell {{drink.type || ''}}
        
      .annotation
        .rating {{Drink.ratingDescription(drink) || ''}}
